html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  font-size:27px;
  border-bottom: 2px solid black;
  margin-top: -45px;
}

.header a:hover {
 color: #0f65ef;
}

.logo {
  width: 75px;
}

.cover {
  text-align: center;
  margin-top: 20px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.coverPhoto {
  width: 1000px;
  height: 500px;
  object-fit: cover;
  border: 2px solid black;
}

.displayResult{
  text-align: center;
}

.displayResult img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 2px solid black;
  
}

button {
  margin-top: 10px;
  color: white;
  background-color: #eb2642;
  font-size: 40px;
  border-radius: 25px;
  border:3px groove black;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

#quizImg {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.questions {
  margin-right: 220px;
  margin-left: 220px;
  text-align: center;
}